.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 100px
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #eee
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button[type="reset"],
button[type="submit"],
button[type="button"] {
  margin: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  cursor: pointer;
}
